@font-face {
    font-family: Norse-Bold;
    src: url(https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf);
}
body{
    height: 100vh;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.left-side{
    background-image: url("../pictures/backimg.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    width: 40vw;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo-img{
    width: 100px;
 
}
.title{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-top: 170px;
    font-family: Norse-Bold, Arial, sans-serif;
    font-size: 64px;
    background-color: rgba(0, 0, 0, 0.4);
    height: 150px;
}
.underline{
    text-decoration: underline;
}
.footer{
    margin-bottom: 10px;
}

a:link{
    color: white
}
a:visited{
    color: white;
}
.right-side{
    height: 100vh;
    width: 60vw;
    background-color: whitesmoke;
    position: relative;
    
}
form{
    background-color: white;
    height: 20rem;
    margin: 3rem 0 2rem 0;
    box-shadow: 0px 15px 15px -11px rgba(0,0,0,0.46);
}
.text{
    font-size: 32px;
    margin-top: 100px;
    font-weight:500;
}
.text, form, .button, .login{
    padding: 0 40px;
}
.button{
    margin-left: 40px;
    width: max-content;
    height: 3rem;
    border-radius: 7px;
    background-color: #596d48;
    color: white;
    font-weight: bold;
    font-size: large;
    border-style: none;
    box-shadow: #596d48;
    box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.43);
}
.button:hover{
    cursor: pointer;
    background-color: #828a7c;
}
.my-copyright{
    position: absolute;
    bottom: 0;
    right: 27.5vw;
}
.login{
    margin-top: 30px;
}
.green-text{
    color: #636c57;
}

.green-text:hover{
    cursor: pointer;
    color: #bfc6bb;
}


.my-copyright>p>a:link,.my-copyright>p>a:visited{
color: black;
text-decoration: none;
}
.my-copyright>p>a:hover{
    color: gray;
}

label, input{
    display: block;
    width: 300px;
    height: 20px;
}
input{
    border-radius: 5px;
    border: 2px solid black;
}
.form-divs{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    column-gap: 50px;
    row-gap: 20px;
    
}

legend{
    font-size: 28px;
    font-weight: 500;
    padding: 20px 0;
}
.pass-error{
    color: red;
    margin-top: 5px;
    font-weight: bold;
    visibility: hidden;
}
#email:valid{
    border-color: green;
}
#email:invalid{
    border-color: red;
}
#phone-number:valid{
    border-color: green;
}
#phone-number:invalid{
    border-color: red;
}
