@font-face {
    font-family: Norse-Bold;
    src: url(https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf);
}
h1{
    font-family: Norse-Bold;
}
body{
    background-color: aqua;
}